<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>GameRegisterServlet</servlet-name>
        <servlet-class>pl.devservices.hitscoreservice.web.profile.GameRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewHitScoreServlet</servlet-name>
        <servlet-class>pl.devservices.hitscoreservice.web.NewHitScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPlayerServlet</servlet-name>
        <servlet-class>pl.devservices.hitscoreservice.web.RegisterPlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveGameAction</servlet-name>
        <servlet-class>pl.devservices.hitscoreservice.web.profile.RemoveGameAction</servlet-class>
    </servlet>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/profile/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <servlet>
        <servlet-name>GetHitScoreServlet</servlet-name>
        <servlet-class>pl.devservices.hitscoreservice.web.GetHitScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostMessageAction</servlet-name>
        <servlet-class>pl.devservices.hitscoreservice.web.profile.PostMessageAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveMessageAction</servlet-name>
        <servlet-class>pl.devservices.hitscoreservice.web.profile.RemoveMessageAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameRegisterServlet</servlet-name>
        <url-pattern>/profile/register-game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewHitScoreServlet</servlet-name>
        <url-pattern>/trusted/NewHitScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPlayerServlet</servlet-name>
        <url-pattern>/trusted/RegisterPlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHitScoreServlet</servlet-name>
        <url-pattern>/trusted/GetHitScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveGameAction</servlet-name>
        <url-pattern>/profile/remove-game</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostMessageAction</servlet-name>
        <url-pattern>/profile/post-message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveMessageAction</servlet-name>
        <url-pattern>/profile/remove-message</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
